<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- META -->
    <!-- TITLE -->
  </head>
  <body>
    <div id="<%= htmlWebpackPlugin.options.mountId %>"><!-- HTML --></div>
    <script type="text/javascript">/* INITIAL-STATE */</script>
  </body>
</html>
